.page {
  background: #e5e5e5;
  max-width: 942px;
  margin: 0 auto;
}

.photo-gallery {
  max-width: 669px;
  max-height: 669px;
  margin: auto;
  padding: 1% 1% 3%;
  background: white;
}

/* .photo-gallery__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  grid-gap: 16px;
} */

.photo-gallery__container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 75px) / repeat(13, 75px);
}

/* .photo-gallery__section-one {
  max-width: 100%;
  display: grid;
  grid-gap: 16px white;
} */
/* 
.photo-gallery__section-two {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
} */

.photo-gallery__item {
  width: 100%;
  object-fit: cover;
}

.photo13 {
  grid-area: 1 / 10 / span 2 / span 2;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s;
}



.popup_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out;
}


.popup__container {
    width: 430px;
    min-height: 330px;
    padding: 34px 36px 55px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 25px;
    position: relative;
}



.popup__container_background {
    background: none;
    width: auto;
    padding: 0;
    border-radius: 0;
    margin: 0;
}

.popup__img-big {
    max-height: 75vh;
    max-width: 75vw;
}

.popup__close-button {
    width: 41px;
    height: 41px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    background-image: url("../../../images/Close\ Icon.svg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -35px;
    right: -35px;
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

/* Шестерёнка */

.mechanism {
  max-width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.979);
}

.mechanism__container {
  justify-content: center;
  display: flex;
}

.mechanism__title {
  max-width: 250px;

}

/* .container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 75px) / repeat(13, 75px);
} */

/* .photo {
  background-size: cover;
} */


.photo11 {
  grid-area: 3 / 11;
 
}

.photo12 {
  grid-area: 4 / 10 ;
  
}

.photo13 {
  grid-area: 1 / 10 / span 2 / span 2;
 
}

.photo14 {
  grid-area: 3 / 10 ;
}

.photo15 {
  grid-area: 1 / 12;
 
}

.photo16 {
  grid-area: 1 / 13;
 
}

.photo17 {
  grid-area: 2 / 12;

}

.photo18 {
  grid-area: 2 / 13;
 
}

.photo19 {
  grid-area: 3 / 12 / span 2 / span 2;

}

.photo20 {
    grid-area: 4 / 11 ;
  
}

.elements {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 75px) / repeat(13, 75px);
  
}


.photo-gallery__item:nth-last-child(10) {
  grid-area: 3 / 11;
}
.photo-gallery__item:nth-last-child(9) {
  grid-area: 4 / 10 ;
}
.photo-gallery__item:nth-last-child(8) {
  grid-area: 1 / 10 / span 1 / span 3;
}
.photo-gallery__item:nth-last-child(7) {
  grid-area: 3 / 10 ;
}
.photo-gallery__item:nth-last-child(6) {
  grid-area: 1 / 12;
}
.photo-gallery__item:nth-last-child(5) {
  grid-area: 1 / 13;
}
.photo-gallery__item:nth-last-child(4) {
  grid-area: 2 / 12;
}
.photo-gallery__item:nth-last-child(3) {
  grid-area: 2 / 13;
}
.photo-gallery__item:nth-last-child(2) {
  grid-area: 3 / 12 / span 2 / span 2;
}
.photo-gallery__item:nth-last-child(1) {
  grid-area: 4 / 11 ;
}