.page {
  background: #e5e5e5;
  max-width: 1280px;
  margin: 0 auto;
}

.photo-gallery {
  max-width: 669px;
  max-height: 669px;
  margin: auto;
  padding: 1% 1% 3%;
  background: white;
}

.photo-gallery__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  grid-gap: 10px;
}

.photo-gallery__section-one {
  max-width: 100%;
  display: grid;
  grid-gap: 16px white;
} 

.photo-gallery__section-two {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}

 .photo-gallery__item {
  width: 100%;
  object-fit: cover;
} 


.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s;
}



.popup_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out;
}


.popup__container {
    width: 430px;
    min-height: 330px;
    padding: 34px 36px 55px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 25px;
    position: relative;
}



.popup__container_background {
    background: none;
    width: auto;
    padding: 0;
    border-radius: 0;
    margin: 0;
}

.popup__img-big {
    max-height: 75vh;
    max-width: 75vw;
}

.popup__close-button {
    width: 41px;
    height: 41px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    background-image: url("../../../images/Close\ Icon.svg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -35px;
    right: -35px;
}

.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

/* .container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 75px) / repeat(13, 75px);
} */

/* .photo {
  background-size: cover;
} */
/* .elements {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 100px) / repeat(6, 100px);
} */




/* .photo-gallery__item:nth-last-child(10) {
  grid-area: 1 / 2;
}
.photo-gallery__item:nth-last-child(9) {
  grid-area: 1 / 7;
}
.photo-gallery__item:nth-last-child(8) {
  grid-area: 1 / 1 / span 1 / span 5;
}
.photo-gallery__item:nth-last-child(7) {
  grid-area: 2 / 3 ;
}
.photo-gallery__item:nth-last-child(6) {
  grid-area: 1 / 6;
}
.photo-gallery__item:nth-last-child(5) {
  grid-area: 1 / 13;
}
.photo-gallery__item:nth-last-child(4) {
  grid-area: 2 / 12;
}
.photo-gallery__item:nth-last-child(3) {
  grid-area: 2 / 13;
}
.photo-gallery__item:nth-last-child(2) {
  grid-area: 3 / 12 / span 2 / span 2;
}
.photo-gallery__item:nth-last-child(1) {
  grid-area: 4 / 11 ;
} */

/* Шестерёнка */

.mechanism {
  max-width: 1086px;
  min-height: 500px;;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.979);
}

@media screen and (max-width: 599px) {
  .mechanism {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .mechanism-mob {
  max-width: 599px;
  min-height: 480px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.979);
  }
}

@media screen and (max-width: 599px) {
  .mechanism-mob__container {
    margin: 13%;;
  }
}

@media screen and (min-width: 599px) {
  .mechanism-mob {
    display: none;
  }
}

.mechanism__title {
  max-width: 350px;
  padding-left: 14%;
}

.mechanism__container {
  display: flex;
  /* display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(8, 65px) / repeat(12, 70px) */
}

.mechanism__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(8, 65px) / repeat(12, 70px) */
}

.mechanism__pinion {
  max-width: 210px;
  display: flex;
  /* position: relative; */
  /* display: grid;
  grid-area: 3 / 6 ; */
}
.mechanism__icon {
  position: absolute;
  line-height: 100%;
  /* display: grid;
  grid-area: 3 / 6 ; */
}


.mechanism-mob__pinion {

    

}


@keyframes wiggle {
  0% { transform: rotate(15deg); }
 80% { transform: rotate(-15deg); }
 85% { transform: rotate(35deg); }
 95% { transform: rotate(-35deg); }
100% { transform: rotate(0deg); }
}

.mechanism__icon {
  display: inline-block;
  animation: wiggle 2.1s infinite;
}

.mechanism__icon:hover {
  animation: none;
}

.rotate {
  transform: rotate(60deg);
  transition: all 1.5s;
}

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mechanism__description-left:nth-last-child(3) {
  padding-top: 10%;
}
.mechanism__description-left:nth-last-child(2) {
 
}
.mechanism__description-left:nth-last-child(1) {
  padding-bottom: 88px;
  padding-right: 32%;
}
.mechanism__description-right:nth-last-child(3) {
  max-width: 380px;
  /* text-align: right; */
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 18%;
  padding-top: 19%;
}
.mechanism__description-right:nth-last-child(2) {
  max-width: 213px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 17%;
  padding-left: 39%;
  text-align: right;
}

.mechanism__description-right:nth-last-child(1) {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 17%;
  padding-left: 39%;
  text-align: right;
}
.mechanism__description {
  margin: 0px;
  text-align: right;
  max-width: 350px;
  padding: 0%;
} 

/* Slider__scroll */

.slider__scroll {
  width:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.slider__scroll__container {

}

.slider__scroll-img-main {

}

.slider__scrol-wrap {

}

.slider__scrol-img-top {

}

.slider__scrol-img-mid {
  max-width: 100px;
}

.slider__scrol-img-bot {

}

.slider__size {
  max-width: 100%;
}

.slider {
  width:100%;
  box-sizing: border-box;
}

.slider img {
  width:100%;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .Пtrack,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-initialized .slick-slide
{
    display: flex;
}